.newscard2 {
  border-bottom: 1px solid #f2f5f836;
  border-top: 1px solid #f2f5f836;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0;
  color: rgba(255, 255, 255, 0.8);
}
.newscard2:active {
  background-color: rgba(255, 255, 255, 0.13);
}
.newcard2-details h4 {
  margin-top: -0.8em;
}
.newcard2-details {
  width: 60%;
}
.newscard2-image {
  width: 35%;
}
.newscard2-image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
