.scontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-icon {
  border: 1px solid rgb(231, 223, 223);
  width: 10%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  background-color: #eef1f4;
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  width: 85%;
}
.search-container input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 0.5em;
}
