.search-container {
  background-color: #eef1f4;
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
}
.search-container input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 90%;
  padding-left: 0.5em;
}
